/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Sidebar container */
.sidebar {
  height: 100vh; /* Full viewport height */
  width: 250px; /* Fixed width for the sidebar */
  background-color: #add8e6; /* Light blue */
  border-right: 1px solid #ddd;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Sidebar content */
.sidebarContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  gap: 6px;
}

/* Buttons */
.button {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 14px 12px;
  font-size: 0.875rem;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #e0e0e0; /* Hover background color */
}

.buttonPrimary {
  background-color: #f0f0f0; /* Muted background color */
  color: #333; /* Primary text color */
}

.buttonSecondary {
  color: #666; /* Muted foreground text color */
}

.icon {
  margin-right: 8px;
}
